$bg-color:yellow;
@mixin backStyle($par1){
    height:$par1
}
.home {
    color:red;
    background-color: $bg-color;
    @include backStyle(200px);
    &:hover{
        background-color:blue;
    }
}
.cart,.mobileCart,.laptopCart{
  >div{
    display:flex;
    flex-direction: row;
    >div{
       width:100%;
       img{
           width:100%;
           object-fit: contain;
       }
    }
    @media only screen and (max-width:767px){
     flex-direction: column;  
    }
  }
}
